<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <!-- 引入juquery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- 引入bootstrap的css、js -->
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
    <!-- 引入table的css、js -->
    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!-- 引入bootbox的js -->
    <script type="text/javascript" src="/js/bootstrap-bootbox/bootbox.js"></script>
</head>
<body>
<button type="button" class="btn btn-primary " onclick="openEmp(id)">修改密码</button>
<table class="table" id="myTable"></table>
</body>
<script>
    $(function(){
        initUserTable();//初始化用户表格数据
    })
    function initUserTable(){
        $('#myTable').bootstrapTable({
            url:"querypassword",
            type:"get",
            columns:[
                {field:"id",title:"id",},
                {field:"password",title:"password",},
                {field:"adsc",title:"操作",formatter:function(value,row,index) {
                        return "<button type='button' class='btn btn btn-danger glyphicon glyphicon-pencil' " +
                            "onclick='openEmp("+row.id+")'>修改</button>";
                    }},
            ]
        });
    }
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    function openEmp(id){
        bootbox.dialog({

            title:'用户',
            message: createAddContent("topassword"),
            closeButton: true,//显示关闭按钮
            buttons : {
                "success" : {
                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {
                        $.ajax({
                            url:'updatepasswored',
                            type:'post',
                            data:$("#myForm").serialize(),
                            success:function(){

                                $('#myTable').bootstrapTable('refresh');
                            },

                        });
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger",
                    "callback" : function() {

                    }
                }
            }

        }); $.ajax({
            url:"updatepassword",
            data:{id:id},
            success:function(data){
                $("#id").val(data.id),
                    $("#password").val(data.password)

            }
        })
    }



</script>
</html>