<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增页面</title>
    <style type="text/css">
        .myrow{
            margin-bottom:10px
        }
    </style>
</head>
<body>
<form id="myForm">
    <input type="hidden" name="id" id="id">
    <div class="container-fluid">
        <div class="row myrow">
            <div class="col-md-2">
                <label for="consignee">客户账号</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="consignee" name="consignee">
            </div>

            <div class="col-md-2">
                <label for="region">企业名称</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="region" name="region">
            </div>
        </div>
        <div class="row myrow">
            <div class="col-md-2">
                <label for="detailedAddress">企业详细地址</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="detailedAddress" name="detailedAddress">
            </div>

            <div class="col-md-2">
                <label for="postcode">公司编号</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="postcode" name="postcode">
            </div>
        </div>

            <div class="row myrow">
            <div class="col-md-2">
                <label for="telephone">公司电话</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="telephone" name="telephone">
            </div>

            </div>
    </div>
</form>
</body>
</html>