<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <!-- 引入juquery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- 引入bootstrap的css、js -->
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
    <!-- 引入table的css、js -->
    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!-- 引入bootbox的js -->
    <script type="text/javascript" src="/js/bootstrap-bootbox/bootbox.js"></script>
</head>

<body>
<button type="button" class="btn btn-primary glyphicon glyphicon-plus" onclick="openEmp()">新增</button>
<button type="button" class="btn btn-primary glyphicon glyphicon-plus" onclick="openEmp()">待审核</button>
<button type="button" class="btn btn-primary glyphicon glyphicon-plus" onclick="openEmp()">未通过</button>
<button type="button" class="btn btn-primary glyphicon glyphicon-plus" onclick="openEmp()">已通过</button>
<button type="button" class="btn btn-primary glyphicon glyphicon-plus" onclick="openEmp()">已过期</button>
<table class="table" id="myTable">
</table>

</body>

</html>