<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增快递</title>


    <style type="text/css">
        .myrow{
            margin-bottom:10px
        }
    </style>
</head>
<body>
<form id="userFrom">


    <div class="row myrow">
        <div class="col-md-3">
            <label for="expressName">快递名称</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="expressName" name="expressName">
        </div>
    </div>

</form>
</body>
</html>