<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公告新增</title>

    <style type="text/css">
        .myrow{
            margin-bottom:10px
        }
    </style>

</head>
<body>
<form id="userFrom">


    <div class="row myrow">
        <div class="col-md-3">
            <label for="noticeName">公告标题</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="noticeName" name="noticeName">
        </div>
    </div>


</form>
</body>
</html>