<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客服新增页面</title>
    <style type="text/css">
        .myrow{
            margin-bottom:10px
        }
    </style>
</head>
<body>
<form id="userFrom">

    <div class="row myrow">
        <div class="col-md-3">
            <label for="serviceName">客服名称</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="serviceName" name="serviceName">
        </div>
    </div>

    <div class="row myrow">
        <div class="col-md-3">
            <label for="serviceQQ">客服QQ</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="serviceQQ" name="serviceQQ">
        </div>
    </div>
</form>
</body>
</html>