<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增常用设置</title>

    <style type="text/css">
        .myrow{
            margin-bottom:10px
        }
    </style>

</head>
<body>
<form id="userFrom">
    <div class="row myrow">
        <div class="col-md-3">
            <label for="storeName">店铺名称</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="storeName" name="storeName">
        </div>
    </div>

    <div class="row myrow">
        <div class="col-md-3">
            <label for="phoneName">店铺联系人</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="phoneName" name="phoneName">
        </div>
    </div>

    <div class="row myrow">
        <div class="col-md-3">
            <label for="storePhone">店铺客服电话</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="storePhone" name="storePhone">
        </div>
    </div>

    <!--<div class="row myrow">
        <div class="col-md-3">
            <label for="storeLogo">店铺logo</label>
        </div>
        <div class="col-md-9">
            <input type="hidden" id="testimg" name="storeLogo" />
            <input type="file" multiple class="projectfile" accept="image/*" name="img" id="storeLogo">
        </div>
    </div>-->

</form>
</body>

</html>