<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .myrow{
            margin-bottom:10px
        }
    </style>
</head>
<body>
<form id="userFrom">
    <input type="hidden" name="returnId" id="returnId">
    <div class="row myrow">
        <div class="col-md-3">
            <label for="orderCode">订单号</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="orderCode" name="orderCode">
        </div>
    </div>

    <div class="row myrow">
        <div class="col-md-3">
            <label for="return">退货单号</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="return" name="returnCode">
        </div>
    </div>

    <div class="row myrow">
        <div class="col-md-3">
            <label for="returnName">退货商品</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="returnName" name="returnName">
        </div>
    </div>

    <div class="row myrow">
        <div class="col-md-3">
            <label for="returnDate">退货时间</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="returnDate" name="returnDate">
        </div>
    </div>

    <div class="row myrow">
        <div class="col-md-3">
            <label for="purchase">采购商</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="purchase" name="purchaseName">
        </div>
    </div>

    <div class="row myrow">
        <div class="col-md-3">
            <label for="proposerName">申请人</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="proposerName" name="proposerName">
        </div>
    </div>

    <div class="row myrow">
        <div class="col-md-3">
            <label for="price">退款金额</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="price" name="price">
        </div>
    </div>
</form>
</body>
</html>