<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改公告</title>
    <style type="text/css">
        .myrow{
            margin-bottom:10px
        }
    </style>
</head>
<body>
<form id="userFrom">
    <input type="hidden" name="noticeId" id="id">
    <div class="row myrow">
        <div class="col-md-3">
            <label for="noticen">公告标题</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="noticen" name="noticeName">
        </div>
    </div>
</form>
</body>
</html>